html {background: url(../img/bg.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}

#Title {font-family:'Malgun Gothic';text-align:center;color:#333;margin-top:75px}

#searchbox {
width:500px;
height:4%;
border:none;
border-radius:2px;
outline:none;
padding-left:15px;
text-align:left;
background-color:#fff;
color:#333;
font-size:15px;
font-family:'Malgun Gothic',sans-serif;
display:block;
margin:auto;
margin-top:110px
}

#stripe {width:100%;vertical-align:middle}

#mainframe {text-align:center;position:absolute;top:25%;left:25%;right:11%}

#linkblock {
width:30%;
height:180px;
margin:30px 30px 40px 25px;
padding:0 1px 0 67px;
text-align:left;
background-position:top 0 left 0;
background-repeat:no-repeat;
font-family:'Malgun Gothic';
font-size:100%;
display:inline-block;
vertical-align:top;
border-left:3px solid rgba(96,125,139,0.6)
}

ul {list-style-type:none;padding-left:3px}

a:link,a:visited,a:active,a:focus {text-decoration:none;font-weight:400;color:#333}

a:hover {text-decoration:none;font-weight:400;color:#797979}