/* Universal */
html {background: url(../img/bg.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}

body {font-family:'Malgun Gothic';font-size:100%;}

/* Main Desktop (1920x1080) */
@media  screen and (max-width: 1920px) {

	#Title {text-align:center;color:#333;margin-top:75px;}

	#searchbox {
		width:500px;
		height:4%;
		border:none;
		border-radius:2px;
		outline:none;
		padding-left:15px;
		text-align:left;
		background-color:#fff;
		color:#333;
		font-size:15px;
		font-family:'Malgun Gothic',sans-serif;
		display:block;
		margin:auto;
		margin-top:110px;
		opacity: 0.75;
	}

	#searchbox:hover {opacity: 1;}

	#stripe {width:100%;vertical-align:middle;}

	#mainframe {text-align:center;position:absolute;top:25%;left:25%;right:11%;}

	#linkblock {
		width:30%;
		height:180px;
		margin:30px 30px 40px 25px;
		padding:0 1px 0 67px;
		text-align:left;
		background-position:top 0 left 0;
		background-repeat:no-repeat;
		display:inline-block;
		vertical-align:top;
		border-left:3px solid rgba(96,125,139,0.6);
	}

	ul {list-style-type:none;padding-left:3px}

	a:link,a:visited,a:active,a:focus {text-decoration:none;font-weight:400;color:#333;}

	a:hover {color:#797979}

}

/* Macbook Air 13" (1440x900) */
@media  screen and (max-width: 1440px) {

	body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";}

	#searchbox {
		margin-top: 55px;
		height:32px;
		font-weight: 300;
	}

	#mainframe {
		top:19%;
		left:26%;
	}

	#linkblock {
		width:33%;
		line-height: 21px;
	}

	a:link,a:visited,a:active,a:focus {
		font-weight:300;
	}

}